@import '../../../variables';

.Modal {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  width: 50%;
  flex-direction: column;
  margin: auto;

  .CloseButton {
    border: none;
    background-color: transparent;
    padding: 0;

    &::after {
      content: "\274c";
      font-size: 25px; 
      color: $white;
      text-align: center;
      cursor: pointer;
    }
  }

  .Box {
    width: 100%;
    background-color: $white;
    max-height: 70%;
    padding: 5px 10px;
    overflow: auto;
    box-sizing: border-box;  
  }
}
