@import '../../variables';

.CasesList {
  width: 100%;
  border: none;
  border-collapse: collapse;
  table-layout: fixed;

  th {
    background-color: $darkgrey;
  }

  td, th {
    text-align: left;
    padding: 10px;
    border-bottom: 10px solid $white;

    &:nth-child(1), &:nth-child(2), &:nth-child(4) {
      text-align: center;
    }

    &:nth-child(1) {
      width: 3%;
    }

    &:nth-child(2) {
      width: 4%;
    }

    &:nth-child(3) {
      width: 20%;
    }

    &:nth-child(4) {
      width: 5%;
    }

    &:last-child {
      width: 7%;
    }
  }
}
