@import '../../variables';

.CasePage {
  width: 100%;

  .Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    .Title {
      font-size: 16px;
    }
  }

  .Box {
    background-color: $lightgrey;
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .Item {
      width: 30%;
      margin: 5px 10px;
      padding: 5px;

      label {
        display: block;
        margin-bottom: 10px;
      }

      p {
        margin: 0;
        padding: 5px;
        background-color: $darkgrey;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
