@import '../../../variables';

.CaseSummary {
  background-color: $lightgrey;

  img {
    width: 20px;
    position: relative;
    top: 3px;

    &.Lawsuit {
      filter: invert(100%);
    }
  }

  p {
    padding: 5px;
    margin: 0;
    background-color: $darkgrey;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
